/* .main-card {
// TODO: replace with mt-x bootstrap class 
    margin-top: 20px;
} */

.card-searchbar {
    margin-bottom: 15px;
}

.centered-form {
    align-content: center;
}

input[type=email], [type=password], [type=button], [type=radio], .txtarea {
    margin-bottom: 10px;
}

.form-signin {
    width: 400px;
    margin: auto;
}

.form-signin-heading {
    margin-bottom: 20px;
}

html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 60px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px; /* Set the fixed height of the footer here */
	line-height: 60px; /* Vertically center the text there */
}
